<div class="col-6 col-centered">
  <input type="text" class="form-control" placeholder="Type email" [(ngModel)] = "email">
  <input type="text" class="form-control" placeholder="Type password" [(ngModel)] = "password">
  <button class="btn btn-success" (click)="login()">Login</button>
  <button class="btn btn-primary float-right" (click)="registration()">Registration</button>
  <br>
  <br>
  <div class="alert alert-success" role="alert" *ngIf="success === 1">
    Login success
  </div>
  <div class="alert alert-danger" role="alert" *ngIf="success === 2">
    Login error! {{error}}
  </div>
</div>
