<button class="btn btn-sm btn-primary float-right contact-top-menu" (click)="onEdit()">Edit</button>
<button class="btn btn-sm btn-success float-right contact-top-menu" (click)="changeContact()">Save</button>
<button class="btn btn-sm btn-danger float-right contact-top-menu" (click)="onCancel()" *ngIf="flag">Cancel</button>
<h1>Contact info</h1>

<div *ngIf="current!=null">
  <p>{{current.fullName}}</p>
  <p>{{current.email}}</p>
  <p>{{current.phoneNumber}}</p>
  <p>{{current.address}}</p>
  <p>{{current.description}}</p>
</div>
<div class="container" *ngIf="flag">
<input type="text" class="form-control" placeholder="Type name" [(ngModel)]="current.fullName">
<input type="text" class="form-control" placeholder="Type email" [(ngModel)]="current.email">
<input type="text" class="form-control" placeholder="Type phone" [(ngModel)]="current.phoneNumber">
<input type="text" class="form-control" placeholder="Type address" [(ngModel)]="current.address">
<textarea type="text" class="form-control" rows="3" placeholder="Type description" [(ngModel)]="current.description"></textarea>
</div>
